@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: VT323, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgb(0 0 0 / 0%) 1px 1px 1px;
}
h1{
  color: #fff8e8;
  letter-spacing: 4px;
  text-shadow: 3px 3px #d74455;
  font-size: 3rem;
}
h2{
  color: #fff8e8;
  letter-spacing: 8px;
  text-shadow: 2px 2px #234c76;
  font-size: 2.5rem;
}
p{
  color: #fff8e8;
  line-height: 1.5;
  font-size: 2rem;
  text-shadow: 2px 2px #234c76;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}