.header{
    width: 100%;
    padding: 0 0 2rem;
    display: flex;
    justify-content: center;
    background-image: url(/bg.png);
    background-position: 50% 80%;
    min-height: 600px;
}

.header h1 {
    margin: 0;
    line-height: 1.15;
    color: white;
    text-shadow: 3px 3px #e78a9d;
    font-size: 4rem;
}
.header p {
    color: white;
}

.button{
    background: #6678b8;
    border: 3px solid #f9f9fb;
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
    display: block;
    box-shadow: 5px 5px 0px 0px rgb(95 100 99);
}
.button:hover{
    background: #8696ce;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-top: 3rem;
}

.card {
    margin: 0;
    flex-basis: 50%;
    padding: 1rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
}

.imgHeader {
    width: 100%;
    max-width: 500px;
    position: relative;
    z-index: 9;
}

@media screen and (min-width: 425px){
    .title {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1000px){
    .header{
        padding: 6rem 0 2rem;
    }
}
@media screen and (min-width: 1100px){
    .grid {
        flex-direction: row;
    }
    .card{
        text-align: left;
    }
    .imgHeader {
        width: 140%;
        max-width: 700px;
    }
}