.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info{
  text-align: center;
  width: 100%;
  background: #80ae72;
  color: #fdfdfe;
  padding: 1rem;
}
.box{
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
}

.countdown{
  max-width: 800px;
  background: #f4a3b4;
  border: 4px solid #f9f9fb;
  padding: 2rem 2rem 3rem;
  box-shadow: 10px 10px 0px 0px rgb(101 119 184 / 90%);
  margin: 2rem auto 4rem;
  position: relative;
}
.countdown h2{
  text-shadow: 3px 3px #234c76;
  margin: 2rem 0;
}
.countdown span{
  font-size: 4rem;
  text-shadow: 3px 3px #234c76;
}

.content{
  background: #fff8e8;
  color: #333;
  width: 100%;
}
.grid {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
}

.card {
  margin: 0;
  text-decoration: none;
  position: relative;
  margin: 2.5rem 0;
}
.card h2{
  margin: 0 0 1rem;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
}
.card p{
  margin: 0;
}

.logo {
  height: 1em;
}

@media screen and (min-width: 1000px){
  .header{
      padding-top: 6rem;
  }
}