.nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 90px;
    background: rgb(0 0 0 / 80%);
    padding: .5rem 0;
    z-index: -1;
    opacity: 0;
}
.nav a{
    padding: 1rem;
    margin: .5rem;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 4px;
    border-bottom: 3px solid;
}
.nav a:hover{
    text-shadow: 2px 2px rgb(225 126 146);
}

.open{
    position: fixed;
    background: white;
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 25%);
    bottom: 20px;
    right: 20px;
    padding: 1rem;
    border-radius: 50%;
    z-index: 11;
    cursor: pointer;
    line-height: 0;
}

@media screen and (min-width: 1000px){
    .nav{
        flex-direction: row;
        z-index: 11!important;
        opacity: 1!important;
        top: 0;
        bottom: unset;
        background: rgb(0 0 0 / 25%);
    }
    .nav a{
        text-shadow: 2px 2px rgb(102 120 184);
        border-bottom: 0;
    }
    .open{
        display: none;
    }
}