.nav{
    display:flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    background: rgb(0 0 0 / 25%);
    padding: 0.5rem 0 0.8rem;
}
.nav a{
    padding: 1rem;
    margin: .5rem;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(244 163 180 / 50%);
    border-bottom: 3px solid rgb(253 253 254 / 80%);
}
.nav a:hover{
    border-bottom: 3px solid pink;
}
.nav a:active{
    border-bottom: 2px solid;
}